/* ===== general ===== */
body {
  margin: 0px;
  background: url(img/pokedex_background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Lato', sans-serif !important;
}

input {
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 18px;
  border: none;
  outline: none;
 }


header {
  background-color: #4A95C2;
  position: sticky;
  top: 0;
  color: white;
}

footer {
  background-color: #4A95C2;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 16px;
}

.h-0 {
  height: 0px !important;
}

.h-95 {
  height: 95px !important;
}

.noResult {
  height: calc(100vh - 220px);
}

.noResultTxt {
  background-color: #173753;
  color: white;
  border-radius: 10px;
  font-size: 50px;
}

.curser-pointer {
  cursor: pointer;
}

footer a {
  text-decoration: none;
  color: white
}

footer a:hover {
  text-decoration: underline;
}

.img25x25 {
  width: 25px;
  height: 25px;
}

.img30x30 {
  width: 30px;
  height: 30px;
}

.img80x80 {
  width: 80px;
  height: 80px;
}

.paddingx-5 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.scale:hover {
  scale: 1.2;
  cursor: pointer;
}

.firstLetterUpper::first-letter {
  text-transform: capitalize;
}

/* ===== Loading Bar ===== */

.loadingbackground {
  height: calc(100vh - 218px);
}

#loadmore {
  margin-bottom: 90px;
}

.loadmore {
  height: 80px;
  width: 360px;
  background-color: #173753;
  border: none !important;
  border-radius: 18px;
  color: white;
  font-size: 40px !important;
  transition: background-color 0.1s ease-in-out;
}

.loadmore:hover {
  background-color: #ACDDFE;
  color: #000000;
}

#loadingBarContainer {
  width: 300px;
  height: 50px;
  background-color: #ffffff;
  border: 3px solid #173753;
}

#loadingBar {
  height: 100%;
  width: 0;
  background-color: #4A95C2;
  transition: width 0.2s ease-in-out;
}

/* ===== Loading Animation ===== */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ===== Pokemon-Card ===== */


.gens:hover {
  background-color: #2C4251;
  color: white;
}

.gens {
  border: none;
  border-radius: 5px;  
  background-color:  #ACDDFE;
}

.selected {
  background-color: #2C4251;
  color: white;
  border: none;
  border-radius: 5px;
}

.pokemonImg {
  width: 150px;
  height: 150px;
  transition: all .1s ease-in-out;
}

.pokemonImg:hover {
  transform: scale(1.3);
}

.noTransform:hover {
  transform: none !important;
}

.typeImg {
  width: 50px;
  height: 50px;
  margin: 8px;
}

.pokemon-card {
  margin: 10px;
  padding: 10px;
  width: 350px; 
  border: 1px solid #ccc;
  border-radius: 30px;
  cursor: pointer;
}

.error-card {
  margin: 10px;
  padding: 10px;
  width: 150px; 
  border: 1px solid #ff0000;
  border-radius: 5px;
  color: #ff0000;
}

/* ===== overlay classes ===== */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.overlay-content {
  padding: 20px;
  border-radius: 10px;
  width: 500px;
}

.pokemonImgOverlay {
  width: 120px;
  height: 120px;
}

img.typeImg {
  width: 30px;
  height: 30px;
}

.pokemonStats {
  text-align: left;
}

.stat-name {
  min-width: 25%;
}

.stat-bar {
  flex: 1;
  height: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.stat-value-text {
  min-width: 40px;
  margin-left: 5px;
}

/* ===== bootstrap extensions =====*/

.progress {
  width: 300px;
}

.progress-bar {
  background-color: white !important;
  color: black !important;
}



/* ===== Scrollbar CSS ===== */

  *::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    background: #d6d6d6;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #173753;
    border-radius: 8px;
    border: 1px none #ffffff;
  }

/* ===== Pokemon Type Colors ===== */
.normal {
  background-color: #a8a899;
}

.fighting {
  background-color: #a84c3d;
}

.flying {
  background-color: #87b5e5;
}

.poison {
  background-color: #864ab8;
}

.ground {
  background-color: #956833;
}

.rock {
  background-color: #a8995b;
}

.bug {
  background-color: #83ad25;
}

.ghost {
  background-color: #633c64;
}

.steel {
  background-color: #9999a8;
}

.fire {
  background-color: #e53b19;
}

.water {
  background-color: #278bcc;
}

.grass {
  background-color: #58a951;
}

.electric {
  background-color: #e5c600;
}

.psychic {
  background-color: #e55973;
}

.ice {
  background-color: #68baac;
}

.dragon {
  background-color: #4d64ab;
}

.dark {
  background-color: #463e3e;
}

.fairy {
  background-color: #d480cf;
}

/* responsive medias */

@media (max-width: 856px) {
  .overlay-content {
    width: 400px;
  }
}

@media (max-width: 420px) {
  .overlay-content {
    width: 300px;
    font-size: smaller;
  }

  .pokemon-card {
    width: 300px;
  }

  .typeImg {
    width: 30px;
    height: 30px;
  }

  /* img.pokemonImg {
    width: 120px;
    height: 120px;
  } */

  .img100x100 {
    width: 75px;
    height: 75px;
  }

  #loadmore {
    margin-bottom: 120px;
  }

  .scaleDown {
    scale: 0.8;
  }
}

@media (max-width: 600px) {
  h1 {
    display: none;
  }

  .paddingx-5 {
    padding-right: 5px;
    padding-left: 5px;
  }
  
}

